body{
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#caja1{
    display: flex;
    background-color: aliceblue;
    width: 24%;
    padding-left: 0.3cm;
    padding-bottom: 0.2cm;
    margin-top: 0.5cm;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
        
}
#ayuda{
    width: 24%; 
    height: 55px;
}
.invisible{
    display: none;
}
input{
    width: 90%;
    height: 0.8cm;
    margin-top: 5px;
    background-color: rgba(255, 217, 0, 0.377);
    color: black;
    align-content: center;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 1cm;
}
button{
    height: 30px;
    align-items: center;
}
.principal{
    width: 21%;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.24);
    color: black;
}
.resultado{
    display: flex;
    width: 80%;
    margin-top: 5px;
    justify-content: center;
    border: 1px solid black;
    background-color: rgb(90, 82, 82);
    color: white;
    text-align: center;
}
h3#message{
    color: red;
}
#caja2{
    display: flex;
    margin-top: 0.2cm;
    flex-direction: column;
    justify-content: center;
        
}
#numerador{
    width: 90%;
    height: 0.8cm;
    margin-top: 5px;
    background-color: rgba(255, 217, 0, 0.377);
    color: black;
    align-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 1cm;
}
#divi{
    width: 90%;
}
#denominador{
    width: 90%;
    height: 0.8cm;
    background-color: rgba(255, 217, 0, 0.377);
    color: black;
    align-content: center;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 1cm;
}
hr{
    height: 2px;
    background-color: black;
}


